* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://picsum.photos/1366/1080);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

button:hover.pedra {
    cursor: pointer;
    background-color: #e65d5d;
}

button:hover.papel {
    cursor: pointer;
    background-color: #5d81e6;
}

button:hover.tesoura {
    cursor: pointer;
    background-color: #49da91;
}

h1 {
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

button {
    font-size: 50px;
    border: none;
    text-shadow: 0 0 5px #000;
    border-radius: 3px;
    margin-bottom: 30px;
}

h1 {
    font-size: 45px;
    margin-bottom: 50px;
}

p {
    font-size: 18px;
    color: #555;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}

.placar1 span {
    color: rgb(123, 121, 248);
}

.placar2 span {
    color: red;
}

.conteiner {
    background: rgba(255, 255, 255, 0.8);
    padding: 70px 90px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}